[submodule "lib/Unity"]
	path = lib/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "lib/tomlc17"]
	path = lib/tomlc17
	url = https://github.com/cktan/tomlc17.git
[submodule "lib/silly-string"]
	path = lib/silly-string
	url = https://github.com/goopletdev/silly-string.git
[submodule "lib/doubly-linked-list"]
	path = lib/doubly-linked-list
	url = https://github.com/goopletdev/doubly-linked-list.git
