# dependencies:
dictionaries/*
lib/

# compiled executables:
build/

# other:
.vscode

# testing exceptions:
!dictionaries/test-dictionary.json
!dictionaries/test-dictionary-2.json

# config file:
config.toml

#refactor stuff:
REFACTOR/build/
REFACTOR/dictionaries/
!REFACTOR/dictionaries/test-dictionary.json
!REFACTOR/dictionaries/test-dictionary-2.json
REFACTOR/lib/

