# dependencies:
dictionaries/*
lib/

# compiled executables:
build/

# other:
.vscode

# testing exceptions:
!dictionaries/test-dictionary.json
!dictionaries/test-dictionary-2.json

# unrelated directories:
data/
