# dependencies:
test/Unity
assets/*

# compiled executables:
clover
test/clover-chord-test
test/clover-hash-test
test/clover-json-test

# other:
.vscode

# testing exceptions:
!assets/test-dictionary.json